.DS_Store

node_modules/

dist/

.env.development
.env.migration.development
.env.production
.env.migration.production

jwt-dev-private-key.pem
jwt-dev-public-key.pem
jwt-prod-private-key.pem
jwt-prod-public-key.pem
cloudfront-dev-private-key.pem
cloudfront-dev-public-key.pem
cloudfront-prod-private-key.pem
cloudfront-prod-public-key.pem

supabase-ca-dev.crt
supabase-ca-prod.crt

ngrok-deployment.yaml

/src/generated/
